.body{
    background-color: rgb(255, 153 , 0);
    background-image: url("https://miro.medium.com/max/2612/1*q3STf3m3qzJUGuPgJvIDIQ.png");
    flex: 1;
    height: 100vh;
    overflow: scroll;
}

.body__left{
    width: 90%;
}